In [97]:
!pip install scikit-learn==1.5.2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn==1.5.2 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from scikit-learn==1.5.2) (3.5.0)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.5.2) (1.10.0)
Requirement already satisfied: numpy>=1.19.5 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.5.2) (1.23.5)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from scikit-learn==1.5.2) (1.4.2)

In [98]:
import pandas as pd
import numpy as np

In [99]:
df=pd.read_csv(r"C:\Users\lenovo\Downloads\survey.csv")
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [101]:
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [102]:
df.drop(["state", "comments","Timestamp"], axis=1, inplace=True)

In [103]:
df.describe()

                Age
count  1.259000e+03
mean   7.942815e+07
std    2.818299e+09
min   -1.726000e+03
25%    2.700000e+01
50%    3.100000e+01
75%    3.600000e+01
max    1.000000e+11

In [104]:
negative_age = (df["Age"]<0).sum()
over_age = (df["Age"]>80).sum()

In [105]:
df.loc[df.Age>80, ["Age"]] = df["Age"].median()

In [106]:
df.loc[df.Age<18, ["Age"]] = df["Age"].median()

In [107]:

df['work_interfere'] = df['work_interfere'].fillna('Don\'t know' )
print(df['work_interfere'].unique())

['Often' 'Rarely' 'Never' 'Sometimes' "Don't know"]

In [108]:
df['self_employed'] = df['self_employed'].fillna('No')
print(df['self_employed'].unique())

['No' 'Yes']

In [109]:

list_col=['Age', 'Gender', 'self_employed', 'family_history', 'treatment',
       'work_interfere', 'no_employees', 'remote_work', 'tech_company',
       'benefits', 'care_options', 'wellness_program', 'seek_help',
       'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence']

In [110]:
df['Gender'].replace(['Male ', 'male', 'M', 'm', 'Male', 'Cis Male',
                     'Man', 'cis male', 'Mail', 'Male-ish', 'Male (CIS)',
                      'Cis Man', 'msle', 'Malr', 'Mal', 'maile', 'Make',], 'Male', inplace = True)

df['Gender'].replace(['Female ', 'female', 'F', 'f', 'Woman', 'Female',
                     'femail', 'Cis Female', 'cis-female/femme', 'Femake', 'Female (cis)',
                     'woman',], 'Female', inplace = True)

df["Gender"].replace(['Female (trans)', 'queer/she/they', 'non-binary',
                     'fluid', 'queer', 'Androgyne', 'Trans-female', 'male leaning androgynous',
                      'Agender', 'A little about you', 'Nah', 'All',
                      'ostensibly male, unsure what that really means',
                      'Genderqueer', 'Enby', 'p', 'Neuter', 'something kinda male?',
                      'Guy (-ish) ^_^', 'Trans woman',], 'Other', inplace = True)

df['Gender'].value_counts()

Male      991
Female    247
Other      21
Name: Gender, dtype: int64

In [111]:
from sklearn.preprocessing import LabelEncoder
object_cols = ['Gender', 'self_employed', 'family_history', 'treatment',
       'work_interfere', 'no_employees', 'remote_work', 'tech_company',
       'benefits', 'care_options', 'wellness_program', 'seek_help',
       'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence']
label_encoder = LabelEncoder()
for col in object_cols:
    label_encoder.fit(df[col])
    df[col] = label_encoder.transform(df[col])
    print("Class Mapping:", dict(zip(label_encoder.classes_, range(len(label_encoder.classes_)))))

Class Mapping: {'Female': 0, 'Male': 1, 'Other': 2}
Class Mapping: {'No': 0, 'Yes': 1}
Class Mapping: {'No': 0, 'Yes': 1}
Class Mapping: {'No': 0, 'Yes': 1}
Class Mapping: {"Don't know": 0, 'Never': 1, 'Often': 2, 'Rarely': 3, 'Sometimes': 4}
Class Mapping: {'1-5': 0, '100-500': 1, '26-100': 2, '500-1000': 3, '6-25': 4, 'More than 1000': 5}
Class Mapping: {'No': 0, 'Yes': 1}
Class Mapping: {'No': 0, 'Yes': 1}
Class Mapping: {"Don't know": 0, 'No': 1, 'Yes': 2}
Class Mapping: {'No': 0, 'Not sure': 1, 'Yes': 2}
Class Mapping: {"Don't know": 0, 'No': 1, 'Yes': 2}
Class Mapping: {"Don't know": 0, 'No': 1, 'Yes': 2}
Class Mapping: {"Don't know": 0, 'No': 1, 'Yes': 2}
Class Mapping: {"Don't know": 0, 'Somewhat difficult': 1, 'Somewhat easy': 2, 'Very difficult': 3, 'Very easy': 4}
Class Mapping: {'Maybe': 0, 'No': 1, 'Yes': 2}
Class Mapping: {'Maybe': 0, 'No': 1, 'Yes': 2}
Class Mapping: {'No': 0, 'Some of them': 1, 'Yes': 2}
Class Mapping: {'No': 0, 'Some of them': 1, 'Yes': 2}
Class Mapping: {'Maybe': 0, 'No': 1, 'Yes': 2}
Class Mapping: {'Maybe': 0, 'No': 1, 'Yes': 2}
Class Mapping: {"Don't know": 0, 'No': 1, 'Yes': 2}
Class Mapping: {'No': 0, 'Yes': 1}

In [112]:
df

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,0,United States,0,0,1,2,4,0,1,...,2,2,1,1,1,2,1,0,2,0
1,44,1,United States,0,0,0,3,5,0,0,...,0,0,0,1,0,0,1,1,0,0
2,32,1,Canada,0,0,0,3,4,0,1,...,0,1,1,1,2,2,2,2,1,0
3,31,1,United Kingdom,0,1,1,2,2,0,1,...,1,1,2,2,1,0,0,0,1,1
4,31,1,United States,0,0,0,1,1,1,1,...,0,0,1,1,1,2,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,26,1,United Kingdom,0,0,1,0,2,0,1,...,0,2,1,1,1,1,1,1,0,0
1255,32,1,United States,0,1,1,2,2,1,1,...,2,1,1,1,1,2,1,1,2,0
1256,34,1,United States,0,1,1,4,5,0,1,...,0,1,2,2,0,0,1,1,1,0
1257,46,0,United States,0,0,0,0,1,1,1,...,0,0,2,1,0,0,1,1,1,0
1258,25,1,United States,0,1,1,4,2,0,0,...,2,0,0,1,1,0,1,1,0,0

In [113]:
df.drop(['Country'], axis=1,inplace=True)

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1259 non-null   int64
 1   Gender                     1259 non-null   int32
 2   self_employed              1259 non-null   int32
 3   family_history             1259 non-null   int32
 4   treatment                  1259 non-null   int32
 5   work_interfere             1259 non-null   int32
 6   no_employees               1259 non-null   int32
 7   remote_work                1259 non-null   int32
 8   tech_company               1259 non-null   int32
 9   benefits                   1259 non-null   int32
 10  care_options               1259 non-null   int32
 11  wellness_program           1259 non-null   int32
 12  seek_help                  1259 non-null   int32
 13  anonymity                  1259 non-null   int32
 14  leave                      1259 non-null   int32
 15  mental_health_consequence  1259 non-null   int32
 16  phys_health_consequence    1259 non-null   int32
 17  coworkers                  1259 non-null   int32
 18  supervisor                 1259 non-null   int32
 19  mental_health_interview    1259 non-null   int32
 20  phys_health_interview      1259 non-null   int32
 21  mental_vs_physical         1259 non-null   int32
 22  obs_consequence            1259 non-null   int32
dtypes: int32(22), int64(1)
memory usage: 118.2 KB

In [84]:
from sklearn.model_selection import train_test_split
X = df.drop('treatment', axis = 1)
y = df['treatment']

X_train, X_test, y_train, y_test = train_test_split(X,y,stratify = y,test_size = 0.3,random_state = 101)

In [85]:
from sklearn.linear_model import LogisticRegression
from xgboost.sklearn import XGBClassifier

In [86]:
import sklearn.metrics as metrics
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [87]:
model1=LogisticRegression(max_iter=1000)

In [88]:
model1.fit(X_train,y_train)
predict = model1.predict(X_test)
acc = accuracy_score(y_test, predict)

In [89]:
acc

0.8227513227513228

In [90]:
model=XGBClassifier(random_state=0,booster="gbtree")

In [91]:
model.fit(X_train,y_train)
predict = model.predict(X_test)
acc = accuracy_score(y_test, predict)
acc

0.843915343915344

In [92]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.82      0.87      0.85       187
           1       0.87      0.82      0.84       191

    accuracy                           0.84       378
   macro avg       0.84      0.84      0.84       378
weighted avg       0.85      0.84      0.84       378

In [94]:
from joblib import dump, load
with open('modelmental.joblib', 'wb') as file:
    dump(model, file)
with open('encodermental.joblib', 'wb') as file:
    dump(label_encoder, file)